<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>F1 AI Summarizer</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 text-white">

<div class="max-w-6xl mx-auto p-8">

    <h1 class="text-5xl font-bold text-red-500 mb-2">
         F1 AI Summarizer
    </h1>

    <p class="text-gray-400 mb-10">
        AI-powered Formula 1 race analysis
    </p>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">

        <div class="bg-gray-800 rounded-xl p-6 shadow-lg">

            <h2 class="text-2xl font-semibold mb-5">
                Latest Race
            </h2>

            <p><strong>Country:</strong> {{ race.country_name }}</p>
            <p><strong>Circuit:</strong> {{ race.circuit_short_name }}</p>
            <p><strong>Session:</strong> {{ race.session_name }}</p>
            <p><strong>Date:</strong> {{formatted_date}}</p>

        </div>


        <div class="bg-gray-800 rounded-xl p-6 shadow-lg">

            <h2 class="text-2xl font-semibold mb-5">
                AI Summary
            </h2>
        <form action="/summary" method="get" onsubmit="loading()">
            <button
            type="submit"        
            id="generateBtn"
           

                class="bg-red-600 hover:bg-red-700 px-5 py-3 rounded-lg font-semibold transition">

                Generate AI Summary

            </button>
        </form>
            {% if summary %}

                 <p class="mt-6 text-gray-300 whitespace-pre-line">

                 {{ summary }}

                     </p>

                     {% else %}

               <p class="mt-6 text-gray-300">

    Click the button to generate an AI race summary.

          </p>

{% endif %}
          
        </div>
      
    </div>
    <div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-8">

    <h2 class="text-2xl font-semibold mb-5">
        🏆 Driver Championship
    </h2>

    <table class="w-full">

        <thead>

            <tr class="text-left border-b border-gray-600">
                <th class="pb-3">Pos</th>
                <th class="pb-3">Driver</th>
                <th class="pb-3">Team</th>
                <th class="pb-3">Points</th>
            </tr>

        </thead>

        <tbody>

        {% for driver in championship %}

            {% if driver.position == 1 %}

            <tr class="border-b border-gray-700 border-l-4 border-yellow-400">

            {% elif driver.position == 2 %}

            <tr class="border-b border-gray-700 border-l-4 border-gray-300">

            {% elif driver.position == 3 %}

            <tr class="border-b border-gray-700 border-l-4 border-orange-500">

            {% else %}

            <tr class="border-b border-gray-700">

            {% endif %}

                <td class="py-2 font-bold">

                    {% if driver.position == 1 %}

                        🥇

                    {% elif driver.position == 2 %}

                        🥈

                    {% elif driver.position == 3 %}

                        🥉

                    {% else %}

                        {{ driver.position }}

                    {% endif %}

                </td>

                <td class="py-2">
                    {{ driver.name }}
                </td>

                <td class="py-2">
                    {{ driver.team }}
                </td>

                <td class="py-2">
                    {{ driver.points|int }}
                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

<div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-8">

    <h2 class="text-2xl font-semibold mb-5">
        Constructor Standings
    </h2>

    <table class="w-full">

        <thead>

            <tr class="text-left border-b border-gray-600">

                <th class="pb-3">Pos</th>
                <th class="pb-3">Team</th>
                <th class="pb-3">Points</th>

            </tr>

        </thead>

        <tbody>

            {% for team in constructors %}

            {% if team.position_current == 1 %}

            <tr class="border-b border-gray-700 border-l-4 border-yellow-400">

            {% elif team.position_current == 2 %}

            <tr class="border-b border-gray-700 border-l-4 border-gray-300">

            {% elif team.position_current == 3 %}

            <tr class="border-b border-gray-700 border-l-4 border-orange-500">

            {% else %}

            <tr class="border-b border-gray-700">

            {% endif %}

                <td class="py-2 font-bold">

                    {% if team.position_current == 1 %}

                        🥇 {{ team.position_current }}

                    {% elif team.position_current == 2 %}

                        🥈 {{ team.position_current }}

                    {% elif team.position_current == 3 %}

                        🥉 {{ team.position_current }}

                    {% else %}

                        {{ team.position_current }}

                    {% endif %}

                </td>

                <td class="py-2">
                    {{ team.team_name }}
                </td>

                <td class="py-2">
                    {{ team.points_current | int }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

    <div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-8">

    <h2 class="text-2xl font-semibold mb-5">
         Race Results
    </h2>
    <div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-8">

    <h2 class="text-2xl font-semibold mb-6">
        🏆 Podium
    </h2>
    {% set first = podium[0] %}
{% set second = podium[1] %}
{% set third = podium[2] %}

    

        
       <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-end">

    <!-- Second -->
    <div class="bg-gray-700 rounded-xl p-5 mt-10 text-center">

        <div class="text-5xl mb-3">🥈</div>

        <h3 class="text-xl font-bold">
            {{ second.name }}
        </h3>

        <p class="text-gray-400 mt-2">
            {{ second.team }}
        </p>

        <p class="mt-4 font-semibold text-red-400">
            {{ second.points }} pts
        </p>

    </div>

    <!-- First -->
    <div class="bg-gray-700 rounded-xl p-8 text-center border-4 border-yellow-400">

        <div class="text-6xl mb-3">🥇</div>

        <h3 class="text-2xl font-bold">
            {{ first.name }}
        </h3>

        <p class="text-gray-400 mt-2">
            {{ first.team }}
        </p>

        <p class="mt-4 font-bold text-red-400 text-lg">
            {{ first.points }} pts
        </p>

    </div>

    <!-- Third -->
    <div class="bg-gray-700 rounded-xl p-5 mt-10 text-center">

        <div class="text-5xl mb-3">🥉</div>

        <h3 class="text-xl font-bold">
            {{ third.name }}
        </h3>

        <p class="text-gray-400 mt-2">
            {{ third.team }}
        </p>

        <p class="mt-4 font-semibold text-red-400">
            {{ third.points }} pts
        </p>

    </div>

</div>
      

    </div>

</div>
     
    <table class="w-full">

        <thead>
            <tr class="text-left border-b border-gray-600">
                <th class="pb-3">Pos</th>
                <th class="pb-3">Driver</th>
                <th class="pb-3">Team</th>
                <th class="pb-3">Points</th>
            </tr>
        </thead>
        
        <tbody>

            {% for result in race_results %}
{% if result.position == 1 %}

<tr class="border-b border-gray-700 border-l-4 border-yellow-400">

{% elif result.position == 2 %}

<tr class="border-b border-white-700 border-l-4 border-white-300">

{% elif result.position == 3 %}

<tr class="border-b border-gray-700 border-l-4 border-orange-500">

{% else %}

<tr class="border-b border-gray-700">

{% endif %}

                <td class="py-2 font-bold">

    {% if result.position == 1 %}

        🥇

    {% elif result.position == 2 %}

        🥈

    {% elif result.position == 3 %}

        🥉

    {% else %}

        {{ result.position }}

    {% endif %}

</td>

                <td class="py-2">
    <a
        href="/driver/{{ result.driver_number }}"
        class="text-red-400 hover:underline"
    >
        {{ result.name }}
    </a>
</td>

                <td class="py-2">
                    {{ result.team }}
                </td>

                <td class="py-2">
                    {{ result.points |int}}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>
      <div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-8">

    <h2 class="text-2xl font-semibold mb-5">
         Drivers
    </h2>

    <table class="w-full">

        <thead>

           <tr class="text-left border-b border-gray-600">

                <th class="pb-3">No.</th>
                <th class="pb-3">Driver</th>
                <th class="pb-3">Team</th>

            </tr>

        </thead>

        <tbody>

            {% for driver in drivers %}

            <tr class="border-b border-gray-700">

                <td class="py-2">
                    {{ driver.driver_number }}
                </td>

                <td class="py-2">
                    {{ driver.full_name }}
                </td>

                <td class="py-2">
                    {{ driver.team_name }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

 <div class="bg-gray-800 rounded-xl p-6 shadow-lg mt-8">

    <h2 class="text-2xl font-semibold mb-5">
         Important Race Events
    </h2>
{% for event in important_events %}

    {% if event.flag == "YELLOW" %}

        <div class="border-l-4 border-yellow-400 pl-4 py-3 mb-4 bg-gray-700 rounded">

    {% elif event.flag == "DOUBLE YELLOW" %}

        <div class="border-l-4 border-orange-400 pl-4 py-3 mb-4 bg-gray-700 rounded">

    {% elif event.flag == "RED" %}

        <div class="border-l-4 border-red-500 pl-4 py-3 mb-4 bg-gray-700 rounded">

    {% elif event.flag == "CHEQUERED" %}

        <div class="border-l-4 border-gray-300 pl-4 py-3 mb-4 bg-gray-700 rounded">

    {% endif %}

        <p class="font-bold">
            Lap {{ event.lap }}
        </p>

        <p class="font-semibold">
            {{ event.flag }}
        </p>

        <p class="text-gray-300">
            {{ event.message }}
        </p>

    </div>

{% endfor %}
</div>
<script>

function loading() {

    const btn = document.getElementById("generateBtn");

    btn.innerHTML = "⏳ Generating...";

   

}

</script> 

</body>
</html>