<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link
     rel="stylesheet"
     href="https://unpkg.com/leaflet/dist/leaflet.css"
     />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V6 Turbo AI</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body class="bg-gradient-to-b from-black via-gray-900 to-black text-white">
{% include "components/navbar.html" %}

<div class="max-w-7xl mx-auto px-8 py-12">

    {% include "components/hero.html" %}

    {% include "components/status_bar.html" %}

    <div class="bento-grid">

        {% include "components/latest_race.html" %}

        {% include "components/ai_summary.html" %}

  {%include "components/championship.html" %}

  {% include "components/drivers.html" %}

  {% include "components/circuits.html" %}

  {% include "components/constructors.html" %}

  {% include "components/results.html" %}

  {% include "components/events.html" %}

    </div>


</div>
<script>
</script>
   
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


<script>

const map = L.map("map").setView([20, 0], 2);

L.tileLayer(
    "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
    {
        attribution: "&copy; OpenStreetMap &copy; CARTO"
    }
).addTo(map);

const circuits = {{ circuits | tojson }};

const bounds = [];
const raceIcon = L.icon({
    iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png",
    shadowUrl: "https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png",

    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34]
});
for (const circuit in circuits) {

    const info = circuits[circuit];

    L.marker(info.coordinates, {
    icon: raceIcon
})
        .addTo(map)
        .bindPopup(`
    <div style="text-align:center; min-width:180px;">
        <h3 style="font-size:18px; margin-bottom:8px;">
             ${circuit}
        </h3>

        <p style="margin:4px 0;">
            ${info.country}
        </p>

        <hr>

        <p style="color:#dc2626; font-weight:bold;">
            Formula 1 Circuit
        </p>
    </div>
`);

    bounds.push(info.coordinates);

}

map.fitBounds(bounds, {
    padding: [50, 50]
});

console.log(circuits);

</script>

<script>
    const miniMap = L.map("mini-map", {
    zoomControl: false,
    dragging: false,
    scrollWheelZoom: false,
    doubleClickZoom: false,
    boxZoom: false,
    keyboard: false,
    touchZoom: false
}).setView([20, 0], 2);

L.tileLayer(
    "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
    {
        attribution: "&copy; OpenStreetMap &copy; CARTO"
    }
).addTo(miniMap);

const miniBounds = [];

for (const circuit in circuits) {

    const info = circuits[circuit];

    L.circleMarker(info.coordinates, {
        radius: 5,
        color: "#E10600",
        fillColor: "#E10600",
        fillOpacity: 1
    })
    .addTo(miniMap);

    miniBounds.push(info.coordinates);
}

miniMap.fitBounds(miniBounds, {
    padding: [20, 20]
});
    lucide.createIcons();
</script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
<script src="{{ url_for('static', filename='js/animations.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {

    {% if summary %}

    const card = document.getElementById("ai-summary");

    if (card) {

        setTimeout(() => {

            card.scrollIntoView({
                behavior: "smooth",
                block: "center"
            });

            card.classList.add("highlight");

        }, 300);

    }

    {% endif %}

});
</script>
<script>

const generateBtn = document.getElementById("generate-btn");

if(generateBtn){

    generateBtn.addEventListener("click", function(){

        document.getElementById("btn-text").innerHTML = `
            <i data-lucide="loader-circle" class="inline w-4 h-4 animate-spin mr-2"></i>
            V6 Turbo AI Processing...
        `;

        lucide.createIcons();

    });

}

</script>
</body>
</html>