<div class="bento-card medium flex flex-col justify-between">
       
    <div class="flex items-center justify-between mb-6">
             <i data-lucide="map-pinned" class="card-icon"></i>
        <h2 class="card-title">
             Circuits
        </h2>
        
        <a href="/circuits"
           class="text-red-500 text-sm hover:underline">
            Explore →
        </a>

    </div>
       <h3 class="card-subtitle">Explore every F1 venue<h3>
    <div class="space-y-4">

        <div class="flex items-center justify-between">

            <span class="font-semibold">
                🏎 {{ circuits|length }} Circuits
            </span>

            <span class="text-gray-400 text-sm">
                Worldwide
            </span>

        </div>

        <div class="grid grid-cols-3 gap-2 mt-6">

            <div class="bg-gray-800 rounded-lg p-3 text-center">
                🇬🇧
            </div>

            <div class="bg-gray-800 rounded-lg p-3 text-center">
                🇮🇹
            </div>

            <div class="bg-gray-800 rounded-lg p-3 text-center">
                🇯🇵
            </div>

            <div class="bg-gray-800 rounded-lg p-3 text-center">
                🇺🇸
            </div>

            <div class="bg-gray-800 rounded-lg p-3 text-center">
                🇧🇪
            </div>

            <div class="bg-gray-800 rounded-lg p-3 text-center">
                🌎
            </div>

        </div>

    </div>

</div>