<div class="bento-card large">

    <div class="flex items-center justify-between">
           <i data-lucide="flag" class="card-icon"></i>
        <h2 class="card-title">
             Latest Race
        </h2>

        <span class="text-red-500 text-sm font-semibold">
            LIVE
        </span>

    </div>

    <div class="mt-8">

        <p class="text-4xl font-bold">

            {{ race.country_name }}

        </p>

        <p class="text-gray-400 mt-2">

            {{ race.circuit_short_name }}

        </p>

        <p class="text-gray-500 mt-8">

            {{ formatted_date }}

        </p>

    </div>

  <a href="#"
   id="view-analysis-btn"
   class="card-link">

    Generate AI Analysis
    <span id="analysis-arrow">→</span>

</a>

</div>